.watch-page{
    padding: 10em 0;
    width: 70%;
    display: flex;
    margin: 0 auto;
    .carousel-wrapper{
    }
    .watch-container{
        padding: 0 2em;
        h1{
            margin: 0;
            font-family: Kanit, sans-serif;
            font-size: 2.5em;
            letter-spacing: 5.8px;
            font-weight: 400;
            font-style: normal;
            text-transform: uppercase;
            color: #242323;
        }
        .price, .description{
            color: #909090;
            font-size: 1.2em;
            text-transform: none;
            font-family: Lato, sans-serif;
            font-style: normal;
            font-weight: 300;
            letter-spacing: 0px;
        }
        .price{
            margin: 0;
        }
        .description{
            margin: .5em 0;
        }
        h2{
            font-family: Kanit, sans-serif;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 1.3em;
            margin: 0;
            color: #242323;
        }
        .material{
            span{
                text-transform: capitalize;
                color: #242323;
                font-weight: 400;
                    font-family: Kanit, sans-serif;
            }
            color: #909090;
            margin: 0;
        }
        .add-to-cart-wrapper{
            display: flex;
            margin: 1em 0 0 0;
            button{
                background-color: #c7a082;
                border: none;
                cursor: pointer;
                font-family: 'Kanit', sans-serif;
                letter-spacing: 1.5px;
                font-size: 1.2em;
                color: white;
                margin: 0 0 0 1em;
                padding: 0 1em;
            }
            div{
                p{
                    display: inline-block;
                    margin: 0 1em;
                    font-family: 'Kanit', sans-serif;
                    font-size: 1.5em;
                }
                .add-to-cart-decrement, .add-to-cart-increment{
                    margin: 0;
                    font-size: 2em;
                    padding: 0;
                    width: 2em;
                    height: 2em;
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .watch-page{
        flex-direction: column;
    }
}

@media only screen and (max-width: 1100px) {
    .watch-page{
        font-size: 14px;
        .carousel-wrapper{
            font-size: 14px;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .watch-page{
        font-size: 14px;
        .carousel-wrapper{
            font-size: 13px;
        }
    }
}

@media only screen and (max-width: 900px) {
    .watch-page{
        font-size: 14px;
        width: fit-content;
        .carousel-wrapper{
            font-size: 12px;
        }
    }
}

@media only screen and (max-width: 650px) {
    .watch-page{
        font-size: 12px;
        .carousel-wrapper{
            font-size: 10px;
        }
    }
}

@media only screen and (max-width: 500px) {
    .watch-page{
        font-size: 12px;
        .carousel-wrapper{
            font-size: 7px;
        }
        .watch-container{
        .add-to-cart-wrapper{
            font-size: 11px;
        }
        }

    }
}

@media only screen and (max-width: 350px) {
    .watch-page{
        font-size: 12px;
        .carousel-wrapper{
            font-size: 7px;
        }
        .watch-container{
        .add-to-cart-wrapper{
            font-size: 10px;
        }
        }

    }
}



@media only screen and (min-width: 1200px) {
    .watch-page{
        font-size: 14px;
        .carousel-wrapper{
            font-size: 12px;
        }
    }
}

@media only screen and (min-width: 1600px) {
    .watch-page{
        font-size: 17px;
        .carousel-wrapper{
            font-size: 14px;
        }
    }
}

@media only screen and (min-width: 2000px) {
    .watch-page{
        font-size: 18px;
        .carousel-wrapper{
            font-size: 16px;
        }
    }
}
  